:root{
    /*top navbar height and home margin*/
    --top-margin: 60px;
}

#topNav {
    min-height: var(--top-margin);
    z-index: 99;
}

#firstElementBody {
    margin-top: var(--top-margin);
}

.topNavIcon {
    font-size: 2rem;
    padding: 0;
    max-width: 2rem;
    max-height: 2rem;
}

#user_icon {
    margin: auto 1rem;
}

.hr {
    height: 1px;
}

.orjumbo {
    user-select: none;
    margin: auto;
}

.limiter {
    background : #4e4a4a;
}

#user_nav {
    position: fixed;
    left: 0;
    height: 100%;
    z-index: 90;
    padding-top: 120px;/*var(--top-margin) * 2;*/
    background: rgba(135,150,255,0.37);
}

.text-black {
    color: black;
}