:root{
    /*top navbar height and home margin*/
    --top-margin: 60px;
}

#topNav {
   min-height: var(--top-margin);
}

#firstElementBody {
    margin-top: var(--top-margin);
}

.topNavIcon {
    font-size: 2rem;
    padding: 0;
}

#user_icon {
    margin: auto 1rem;
}

.hr {
    height: 1px;
}

.orjumbo {
    user-select: none;
    margin: auto;
}

.limiter {
    background : #4e4a4a;
}